html, body, .game {
    margin: 0;
    height: 100%;
}

@font-face {
    font-family: "Panton";
    src: url('panton.black-caps.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: rgb(245, 245, 220);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Panton', sans-serif;
    font-weight: bolder;
}

.header{
    padding: 2rem;
    font-size: 3rem;
    color: rgb(240, 191, 131);
}

.guide{
    font-size: 1.8rem;
    color: rgb(240, 191, 131);
    font-weight: bolder;
}

.game{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 0;
}

.computerScore, .score{
    margin-bottom: 30vh;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    border: 10px solid bisque;
    color: rgb(240, 191, 131);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
}

.gameScreen{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90vh;
    height: 80vh;
}

.playAgain{
    border: 10px solid bisque;
    border-radius: 20px 20px;
    width: 40%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playAgain:hover{
    background-color: bisque;
    cursor: pointer;
}

.resultScreen{
    width: 80vh;
    height: 40vh;
    border: 10px solid bisque;
    border-radius: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.8rem;
    color: rgb(240, 191, 131);
    gap: 5vh;
}

.resultContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vh;
}

.computer-container, .icon-container{
    display: flex;
    gap: 2vh;
    margin: 30px;
}

.icon{
    width: 15vh;
    height: 15vh;
    border: 10px solid bisque;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container .icon:hover{
    background-color: bisque;
    cursor: pointer;
}

img{
    width: 85%;
    object-fit: contain;
    margin-bottom: 10px;
}